@using DYLS.Common.Id
@using DYLS.IDal
@using DYLS.IDal.Web
@{
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeHide;
    ViewData[ViewDataId.ShowTelBtn] = ViewDataId.ShowTelBtn_TypeHide;
}
<div class="content-inner error">
    <div class="inner">
        <div class="msg noaccess">
            服务器开小差了
            <div class="height50"></div>
            <div class="btn">
                <a href="~/">回首页看看</a>
            </div>
        </div>
    </div>
</div>