@using DYLS.Common.Id
@{
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeHide;
    ViewData[ViewDataId.ShowTelBtn] = ViewDataId.ShowTelBtn_TypeHide;
}
<div class="content-inner error">
    <div class="inner">
        <div class="msg noaccess1">
            该栏目面向运营开放 <br />
            如有问题请联系客服
            <div class="height50"></div>
            <div class="btn">
                <a href="~/">返回首页</a>
                <a href="javascript:void(0);" class="positive">联系客服</a>
            </div>
        </div>
    </div>
</div>