Core/.vs
Core/*.user
Core/*.sln
Core/Dal/bin
Core/Dal/obj
Core/IDal/bin
Core/IDal/obj
Core/Model/bin
Core/Model/obj
Core/Common/obj
Core/Common/bin
Core/ManageApiController/obj
Core/ManageApiController/bin
Core/Web/obj
Core/Web/bin
Core/WebApiController/obj
Core/WebApiController/bin
Core/WebController/obj
Core/WebController/bin
Core/SmallRoutineController/bin
Core/SmallRoutineController/obj
Core/ManageApiController/obj
Core/ManageApiController/bin
Core/WebApiController/obj
Core/WebApiController/bin
Core/WebController/obj
Core/WebController/bin
Core/Web/Logs
