
@*
<div class="bottom-tab">
    <div class="item">
        <a href="~/">
            <div class="icon home-icon"></div>
            <div class="text">首页</div>
        </a>
    </div>
    <div class="item">
        <a href="~/Qa/">
            <div class="icon qa-icon"></div>
            <div class="text">常见问题</div>
        </a>
    </div>
    <div class="item">
        <a href="~/My/">
            <div class="icon person-icon"></div>
            <div class="text">个人中心</div>
        </a>
    </div>
</div>
*@
