@using DYLS.Common.Utils


<div class="bottom-img">
    <img src="~/images/qr/bottom0.jpg" />
    <a href="/">
        <img src="~/images/qr/bottom1.jpg" />
    </a>
    <img src="~/images/qr/bottom2.jpg" />
</div>


@*<div class="bottom-qr">
    <div class="bq-t">
        <span>
            扫码关注腾讯广告大客户服务商交流平台
        </span>
    </div>
    <div class="bq-qr">
        <div>
            <img src="~/images/qr.png" />
        </div>
    </div>

    <div align="center">
        <a href="@ConfigHelper.Get(ConfigHelper.WebHost)">访问KA服务商网站</a>
    </div>
</div>*@