@using DYLS.Common.Id
@using DYLS.Common.Utils
@using DYLS.IDal
@using DYLS.IDal.Web
@using DYLS.Model.Db.Web
@{
    var topCategory = HttpContextHelper.Get<Category>(HttpContextHelper.TopCategory);
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeCustom;
    ViewData[ViewDataId.ShowComTop] = ViewDataId.ShowCommTop_Show;
}
<div class="content-inner education">
    <div class="inner">
        @*<div class="list">
                <div class="img">
                    <img src="~/images/temp/list1.png" width="360" height="172" class="img-block" />
                    <div class="sub">
                        <div class="subc">
                            <a href="">
                                <img src="~/images/icon/main-category-1.png" width="45" height="45" />
                                <div>项目介绍</div>
                            </a>
                            <a href="">
                                <img src="~/images/icon/main-category-2.png" width="45" height="45" />
                                <div>成果展示</div>
                            </a>
                            $1$<a href="">
                                    <img src="~/images/icon/main-category-3.png" width="45" height="45" />
                                    <div>行业赋能沙龙</div>
                                </a>#1#
                        </div>
                    </div>
                </div>
            </div>*@

        <a href="~/List/Index/8ea6447ea82b52ca" class="list">
            <div class="img">
                <img src="~/images/temp/edu1.jpg" width="360" height="172" class="img-block" />
            </div>
        </a>
        <a href="https://DYLS.com/list/detail/f7184757a2cd45ae/1d0163461988462e" class="list">
            <div class="img">
                <img src="~/images/temp/edu2.jpg" width="360" height="172" class="img-block" />
            </div>
        </a>
        <a href="https://edu.tencentads.com/exam/homepage.aspx" class="list">
            <div class="img">
                <img src="~/images/temp/edu3.jpg" width="360" height="172" class="img-block" />
                @*<div class="sub">
                        <div class="subc">
                            <a href="">
                                <img src="~/images/icon/main-category-4.png" width="45" height="45" />
                                <div>注册报名</div>
                            </a>
                            <a href="">
                                <img src="~/images/icon/main-category-5.png" width="45" height="45" />
                                <div>在线培训</div>
                            </a>
                            <a href="">
                                <img src="~/images/icon/main-category-6.png" width="45" height="45" />
                                <div>在线考试</div>
                            </a>
                        </div>
                    </div>*@
            </div>
        </a>

        @{
            @*var list = DalFactory.GetInstance<IDalCategory>().GetChildByTopGuid(topCategory.Guid, true);
                foreach (var category in list)
                {
                    if (string.IsNullOrEmpty(category.Image))
                    {
                        continue;
                    }
                    <a href="@(string.IsNullOrEmpty(category.Link) ? Url.Content("~/list/index/" + category.Guid) : Url.Content(category.Link))" class="list">
                        <div class="img">
                            <img src="@(ConfigHelper.Get(ConfigHelper.FileServerUrl) + category.Image)" width="360" height="172" class="img-block" />
                        </div>
                    </a>
                }*@
        }

    </div>
</div>