@using DYLS.Common.Id
@using DYLS.Common.Utils
@using DYLS.Model.Db.Web
@{
    var topCategory = HttpContextHelper.Get<Category>(HttpContextHelper.TopCategory);
    ViewData[ViewDataId.Page] = "qa";
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeHide;
    ViewData[ViewDataId.ShowComTop] = ViewDataId.ShowCommTop_Show;
}
<div class="content-inner qa" data-c="@(topCategory.Guid)">
    <div class="inner">
        <div id="vue-content">
            <div class="qac">
                <div :class="item.open? 'list open' : 'list'" v-for="(item,index) in list">
                    <div class="title" v-on:click="firstClick(index)">
                        <div class="tc">
                            {{item.name}}
                        </div>
                    </div>
                    <div :class="sub.open? 'list open' : 'list'" v-if="sub.type==0" v-for="(sub,subindex) in item.subs">
                        <div class="title" v-on:click="secondClick(index,subindex)">
                            <div class="tc">
                                {{sub.name}}
                            </div>
                        </div>
                        <div class="list" v-if="subsub.type==1" v-for="(subsub,subsubindex) in sub.subs" style="padding-left: 10px;">
                            <a :href="'@Url.Content("~/list/detail/")' + subsub.guid + '/@(topCategory.Guid)'" :title="subsub.name">{{subsub.name}}</a>
                        </div>
                    </div>
                    <div class="list" v-if="sub.type==1" v-for="(sub,subindex) in item.subs">
                        <a :href="'@Url.Content("~/list/detail/")' + sub.guid+ '/@(topCategory.Guid)'" :title="sub.name">{{sub.name}}</a>
                    </div>
                </div>
            </div>
            <div class="nodata" v-if="nodata">暂无数据</div>
        </div>
    </div>
</div>