@using DYLS.Common.Id
@using DYLS.Common.Utils
@using DYLS.Model.Ui
@{
    ViewData[ViewDataId.Page] = "my-activity";
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeCustom;
    ViewData[ViewDataId.ShowComTop] = ViewDataId.ShowCommTop_Show;
}
@section top
    {
    @Html.Partial("_MyTop", new MyTop() { Current = 2 })
}
<div class="content-inner p-center">
    <div class="inner">
        <div id="vue-content">
            <div class="img-list" v-if="list.length>0">
                <a :href="'https://tencentads.com/Activity/Detail/' + item.strId" class="list" v-for="(item,index) in list">
                    <div class="img">
                        <img :src="'@ConfigHelper.Get(ConfigHelper.FileServerUrl)'+item.image" onload="nshp.showThis(this)" class="img-block" width="360" height="172" />
                        <span class="label" v-if="nshp.convertEventLabel(item.label)!==''">{{nshp.convertEventLabel(item.label)}}</span>
                    </div>
                    <div class="title">
                        {{item.title}}
                    </div>
                    <div class="date">
                        <span class="span"></span>
                        <span>
                            {{item.startTime.toDate().format('yyyy年MM月dd日 HH:mm')}}
                        </span>
                    </div>
                </a>
            </div>
            <div class="nodata" v-if="nodata">暂无数据</div>
        </div>
    </div>
</div>