@using DYLS.Common.Id
@using DYLS.Model.Ui
@{
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeCustom;
    ViewData[ViewDataId.ShowComTop] = ViewDataId.ShowCommTop_Show;
    ViewData[ViewDataId.Page] = "my-msg";
}
@section top
    {
    @Html.Partial("_MyTop", new MyTop() { Current = 1 })
}
<div class="content-inner p-center">
    <div class="inner">


        <div id="vue-content">

            <div class="ms-list" v-if="list.length>0">

                <a :href="item.type===1 ? item.link : '/my/viewmsg/'+item.mainId+'/'" v-on:click="read(item.mainId)" class="item" v-for="(item,index) in list">
                    <div class="date">
                        {{item.createTime.toDate().format('yyyy年MM月dd日 HH:ss')}}
                    </div>
                    <div class="title">
                        {{item.title}}
                    </div>
                    <div class="desc">
                        {{item.description}}
                    </div>
                    <div class="red-icon" v-if="item.isRead==0"></div>
                </a>

            </div>

            <div class="nodata" v-if="nodata">暂无数据</div>
        </div>

    </div>
</div>